<div class="footer-contact">
  <div class="container">
    <div class="row">
      <div class="offset-lg-4 col-sm-12 col-md-12 col-lg-8 d-flex flex-wrap justify-content-between">
        <div class="footer-contact__item d-flex align-items-center">
          <div class="footer-contact__icon">
            <i class="icon-phone1"></i>
          </div><!-- /.footer-contact__icon -->
          <div class="footer-contact__text">
            <span>Call Us:</span>
            <strong><a href="tel:00123968574">(002) 123968574</a></strong>
          </div><!-- /.footer-contact__text -->
        </div><!-- /.footer-contact__item -->
        <div class="footer-contact__item d-flex align-items-center">
          <div class="footer-contact__icon">
            <i class="icon-envelope1"></i>
          </div><!-- /.footer-contact__icon -->
          <div class="footer-contact__text">
            <span>Email Us:</span>
            <strong><a href="mailto:Eteon@7oroof.com">Eteon@7oroof.com</a></strong>
          </div><!-- /.footer-contact__text -->
        </div><!-- /.footer-contact__item -->
        <div class="footer-contact__item d-flex align-items-center">
          <div class="footer-contact__icon">
            <i class="icon-clock1"></i>
          </div><!-- /.footer-contact__icon -->
          <div class="footer-contact__text">
            <span>Opening Hours:</span>
            <strong>Mon-Fri: 8am – 7pm</strong>
          </div><!-- /.footer-contact__text -->
        </div><!-- /.footer-contact__item -->
      </div><!-- /.col-lg-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.footer-contact -->
