<section>
    <h1 style="font-weight: bold;">Code d'activation</h1>

    <p>
         {{nom}} {{prenoms}},
    </p>

    <p> 
        Votre code de confirmation est:  <b>{{otp}}</b><br>
        Veuillez vous connecter à l'application et activer votre compte à l'aide de ce code.
    </p>

    <p>
        Cordialement, l'équipe <b>CIKHAPAY</b>
    </p>


</section>

<br>
