{% extends 'layout-fr.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block content %}
    <!-- ============================
        Slider
    ============================== -->
    <section class="slider slider-layout1">
        <video loop="true" controls autoplay muted style="width: 100%">
            <source src="{{ asset('assets/videos/gfi-home.mp4') }}" type="video/mp4">
        </video>
    </section>

    <section class="about-layout2 pb-50">
      <div class="container">
        <div class="row mb-50 align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="heading-layout2 mb-20">
              <h2 class="heading__subtitle">Leading The Way In Building And Civil Construction</h2>
              <h3 class="heading__title">Committed To Delivering High Quality Construction Projects And Innovate Design!
              </h3>
            </div><!-- /heading -->
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-1 d-flex justify-content-end counters-wrapper">
            <!-- counter item #1 -->
            <div class="counter-item">
              <h4 class="counter">6,154</h4>
              <p class="counter-item__desc">Projects And Residentials Completed in 2020</p>
            </div>
            <!-- counter item #2 -->
            <div class="counter-item">
              <h4 class="counter">2,512</h4>
              <p class="counter-item__desc">Qualified Employees And Workers With Us</p>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <p class="heading__desc mb-30">Yet those that embrace change are thriving, building bigger, better,
              faster, and stronger products than ever before. You are helping to lead the charge; we can help you
              build on your past and prepare future.</p>
            <p class="heading__desc">The world is changing faster than ever before, Eteon constructions are threatened
              as technology disrupts and software.</p>
            <ul class="list-items list-unstyled mb-20 mt-40">
              <li>Quality Control System</li>
              <li>Unrivalled workmanship</li>
              <li>100% Satisfaction Guarantee</li>
              <li>Accurate Testing Processes</li>
              <li>Highly Professional Staff</li>
              <li>Professional and Qualified</li>
            </ul>
            <a href="projects-grid.html" class="btn btn__primary btn__lg mb-30">
              <i class="icon-arrow-right1"></i><span>More About Us</span>
            </a>
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="about__img">
              <img src="{{ asset('assets/images/about/1.jpg') }}" alt="about" class="img-fluid">
              <div class="cta-banner">
                <div class="cta-banner__icon">
                  <i class="icon-hard-hat"></i>
                </div>
                <h5 class="cta-banner__title ">Join Us, Be Part Of Our Team!</h5>
                <a href="contact-us.html" class="btn btn__primary btn__link"><i class="icon-arrow-right1"></i></a>
              </div><!-- /.cta-banner -->
            </div><!-- /.about-img -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
{% endblock %}