<section>
    <h1 style="font-weight: bold;">Mail de confirmation d'inscription</h1>

    <p>
        Félicitations!
    </p>

    <p>
        {{nom}} {{prenoms}}, nous avons le plaisir de vous informer, que votre compte <b>CIKHAPAY</b> vient d’être créé. <br><br>
        
        Votre code de confirmation est:  <b>{{otp}}</b><br>
        Veuillez vous connecter à l'application et activer votre compte à l'aide de ce code.
    </p>

    <p>
        Cordialement, l'équipe <b>CIKHAPAY</b>
    </p>


</section>

<br>
