<section>
    <h1 style="font-weight: bold;">Réinitialisation de mot de passe</h1>

    <p>
         {{nom}} {{prenoms}},
    </p>

    <p> 
        Votre code de réinitialisation est:  <b>{{otp}}</b><br>
        Veuillez vous connecter à l'application et modifier votre mot de passe à l'aide de ce code.
    </p>

    <p>
        Cordialement, l'équipe <b>CIKHAPAY</b>
    </p>


</section>

<br>
