{% extends 'layout-fr.html.twig' %}

{% block title %}Infoline
{% endblock %}

{% block content %}
<section class="page-title page-title-layout1 bg-overlay bg-parallax">
    <div class="bg-img"><img src="{{ asset('assets/images/page-titles/6.jpg') }}" alt="background"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
          <h1 class="pagetitle__heading">Comment nous joindre?</h1>
        </div>
      </div>
    </div>
  </section>
  
  <section class="contact-layout1 py-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="contact-panel">
            <div class="contact-panel__banner d-flex align-items mb-20">
              <div class="bg-img"><img src="{{ asset('assets/images/contact/1.jpg') }}" alt="banner"></div>
              <div class="contact-panel__banner__inner">
                <h4 class="contact-panel__banner__title">Devenez Partenaire Ou Contactez - Nous Pour tous vos Travaux !</h4>
                <p class="contact-panel__banner__desc">
                  Faites-nous part de vos préoccupations, par message. Notre service client vous répondra dans les plus brefs délais.
                </p>
                
              </div>
            </div><!-- /.contact-panel__banner -->
            <form class="contact-panel__form" method="POST" action="#">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group"><input type="text" class="form-control" placeholder="Nom complet" id="name" name="contact-name" required></div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group"><input type="email" class="form-control" placeholder="Email" id="email" name="contact-email" required></div>
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group"><input type="text" class="form-control" placeholder="Téléphone" id="phone" name="contact-phone" required></div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <select class="form-control" id="objet" name="objet">
                      <option value="">Objet de votre message</option>
                      <option value="DEMANDE DE DEVIS">DEMANDE DE DEVIS</option>
                      <option value="DEMANDE DE PARTENARIAT">DEMANDE DE PARTENARIAT</option>
                      <option value="DEMANDE D'INFORMATION">DEMANDE D'INFORMATION</option>
                      <option value="AUTRE DEMANDE">AUTRE DEMANDE</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Ecrivez votre message" id="message" name="contact-messgae" required></textarea>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <input type="submit" name="envoyer" value="Envoyez votre message" style="" class="btn btn__secondary btn__block">
                  <div id="info"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="google-map p-0 mt--120">
    <div id="map" style="height: 440px;"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqrqPZOVegy1VIdyIcndxZY9YGoK-x0Yo&callback=initMap"
      async defer></script>
  </section><!-- /.GoogleMap -->

  <section class="page-title page-title-layout1 bg-overlay bg-parallax">
      <div class="bg-img"><img src="{{ asset('assets/images/section-bg/17.jpg') }}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <h1 class="pagetitle__heading">Accédez au formulaire de demande de devis en un clic</h1>
            <a href="{{ path('gfi-devis', { 'lang': 'fr' }) }}" class="btn btn__primary btn__lg mb-30">
              <i class="icon-arrow-right1"></i><span>Formulaire de Devis</span>
            </a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}